.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media__link {
  display: inline-block;
  position: relative;
  height: 3.5rem;
  width: 3.5rem;
  padding: 1rem;
  outline: none;
}

.social-media__icon {
  max-width: 100%;
  max-height: 100%;
  transform: scale(1);
  transition: transform 0.4s;
}

.social-media__link:hover > .header__social-media__icon,
.social-media__link:focus > .header__social-media__icon {
  transform: scale(1.25);
}

/* Infobulle creation*/
.social-media__link:hover::after,
.social-media__link:focus::after,
.social-media__link:hover::before,
.social-media__link:focus::before {
  position: absolute;
  left: 50%;
  top: 100%;
  animation: infobulle-appears 0s 0.4s both;
}

.social-media__link:hover::after,
.social-media__link:focus::after {
  content: attr(aria-label);
  transform: translate(-25%);
  z-index: 1;
  white-space: nowrap;
  font-size: 0.75rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--color-secondary);
  color: black;
  box-shadow: 0 0 0.125rem black;
}

.social-media__link:hover::before,
.social-media__link:focus::before {
  content: '';
  transform: translate(-50%, calc(-100% + 1px));
  z-index: 2;
  border-right : 0.5rem solid transparent;
  border-bottom : 0.6rem solid var(--color-secondary);
  border-left : 0.5rem solid transparent;
}
